

<div id="ControlNavigationId">

    <div id="wrapper">
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="container">
                    <script type="text/javascript">
                        document.title = 'Manage - Quiz Creator';
                        window.history.pushState(
                            null,
                            null,
                            '/Manage'
                            );
                    </script>


                    <br /><br />

                    <h2 class="text-center" style="color:#0026ff">Change your account settings</h2>


                    <br />
                    <div>
                        <div class="col-md-offset-3 col-md-6 panelMy text-center">
                            <div class="panel-body">
                                <br />
                                <div class="text-center">
                                    <p class="text-success">@ViewBag.StatusMessage</p>
                                </div>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>Password:</dt>
                                    <dd>
                                        [ @Ajax.ActionLink("Change the password", "ChangePassword",
                new AjaxOptions
                {
                    UpdateTargetId = "ControlNavigationId",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get"
                }) ]
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd>
                                        [ @Ajax.ActionLink("Modify the name", "ModifyAccount",
                new AjaxOptions
                {
                    UpdateTargetId = "ControlNavigationId",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get"
                }) ]
                                    </dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>
     