@{
    ViewBag.Title = "Contact";
}

<div id="wrapper">
    <div id="page-wrapper">
        <h2>How to contact us?</h2>

        <h3>And now if you are wondering: <em>How can i contact the student behind the project?</em></h3>
        <p>Here are some of our links!</p>

        <address>
            <p>1. Илиян Коджеманов, <a href="mailto:favorita1990@abv.bg">favorita1990@abv.bg</a></p>
        </address>

    </div>
</div>