



@*<hr>
<footer>
    <img id="footer-logo" src="~/Content/pictures/quizgen.png" />
    <p>This is the second team project for NBU @DateTime.Now.Year</p>
</footer>*@
<div class="footer">


    <div class="row">
        <div class="col-lg-12">
            <p>This is the second team project for NBU @DateTime.Now.Year</p>
        </div>
    </div>
</div>